<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="/registration">
    <label for="username">Username</label>
    <input name="username" type="text" id="username">

    <br>

    <label for="email">Email</label>
    <input name="email" type="text" id="email">

    <br>

    <label for="password">Password</label>
    <input name="password" type="text" id="password">

    <br>

    <label for="role">Role</label>
    <input name="role" type="text" id="role">

    <input type="submit" value="registration">

</form>
</body>
</html>