<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="/registration">
    <label for="username">Username</label>
    <input name="username" type="text" id="username">

    <br>

    <label for="birthDate">Birth Date</label>
    <input name="birthDate" type="text" id="birthDate">

    <br>

    <label for="firstname">Firstname</label>
    <input name="firstname" type="text" id="firstname">

    <br>

    <label for="lastname">Lastname</label>
    <input name="lastname" type="text" id="lastname">

    <br>

    <label for="email">Email</label>
    <input name="email" type="text" id="email">

    <br>

    <label for="password">Password</label>
    <input name="password" type="text" id="password">

    <br>
    <div th:each="role : ${roles}">

        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:text="${role}">
        <label th:for="${role}">Role</label>

    </div>
    <br>
    <div>
        <label for="companyId">companyId</label>
        <select id="companyId" name="companyId">
            <option th:each="company : ${companies}"
                    th:value="${company.id}"
                    th:text="${company.name}">companyId
            </option>
        </select>
    </div>
    <input type="submit" value="registration">

</form>
</body>
</html>
